<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="WebFlow">
	
	<listeners >
		<listener class-name = "com.webflow.Utilities.ExtentReport"/>
	</listeners>
	
  <test thread-count="5" name="Web Flow Test">
	  
	  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.webflow.TestCases.TC_LoginPage_01"/>
    </classes>
    
  </test> <!-- Web Flow -->
</suite> <!-- Suite -->
